:root {
    --first-color: #f9a840;
    --second-color: #fb6721;
    --third-color: #f8f8f8;  /*Ancora da decidere*/
    --first-color-rgb: 249, 168, 64;
    --second-color-rgb: 251, 103, 33;
    /*--third-color-rgb:;  Ancora da decidere*/
    --shadow: 42,47,54,.3;
}

.bg-first {
    background-color: var(--first-color) !important;
}

.bg-second {
    background-color: var(--second-color) !important;
}

.bg-third{
    background-color: var(--third-color) !important;
}

.bg-footer{
    background-color: #1a1a1a;
}

.bg-copyright {
    background-color: black;
}

.text-first {
    color: var(--first-color) !important;
}

.text-second {
    color: var(--second-color) !important;
}

.text-third {
    color: var(--third-color) !important;
}

.w-fit {
    width: fit-content!important;
}

.min-h75 {
    min-height: 75vh;
}
a {
    color: black;
}

a:hover {
    text-decoration: none !important;
    color: var(--second-color) !important;
}


/*NAVBAR*/
.btn-custom {
    background: linear-gradient(to right,var(--first-color),#ff965d);
    border: none;
    font-weight: 600;
    display: inline-block;
    font-size: 15px;
    padding: 10px 25px !important;
    transition: .3s;
    -webkit-transition: .3s;
}

.btn-custom:hover {
    box-shadow: 0 0 10px #f6944a;
}


.btn-newAd {
    color: var(--first-color) !important;
    font-weight: bold;
    padding: 12px 20px 12px 20px;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid var(--first-color);
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-newAd:hover {
    color: var(--third-color) !important;
    background: var(--second-color);
    border: 2px solid var(--second-color);
}


/*HEADER*/
header {
    background: linear-gradient(transparent, white 80%), url('/media/header.png');
    height: 100vh;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}


.bg-coin {
    background-image: url('/media/header-coin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

@media screen and (max-width:575px) {
    .bg-coin {
        background-size: cover;
    }
}

.form-searchBorder {
    border: 2px solid var(--second-color);
}

.form-control:focus,
.custom-select:focus {
    border-color: var(--first-color);
    box-shadow: 0 0 0 0.2rem var(--first-color);
}

.btn-searchColor {
    color: var(--second-color);
}

.container-home {
    background: linear-gradient(var(--third-color), white 95%);
    margin-top: -10%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 23px 20px;
    box-shadow: 0 -12px 10px 0 rgba(var(--shadow));
}

@media screen and (max-width:575px) {
    .container-home {
        margin-top: -20%;
        margin-right: 5%;
        margin-left: 5%;
        font-size: 13px;
    }
}

/*Category*/
.card-category {
    position: relative;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.card-category:hover {
    box-shadow: 0 0 10px 0px rgba(0,0,0,.12);
}

.card-category:hover a {
    color: var(--second-color) !important;
}

/*CARD*/

.card-img-custom {
    max-width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: left;
}

.form-control{
    border: 1px solid rgba(var(--second-color-rgb),0.4) !important;
}

.form-control:valid {
    background-color:rgba(var(--first-color-rgb),0.6) !important;
}

/*Colore background quando si autofilla il campo*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(var(--first-color-rgb),0.4) inset !important;
}

input, textarea{
    background-color:rgba(var(--second-color-rgb),0.1) !important;
}

/*Check radio*/
.custom-control-label::before {
    background-color: rgba(var(--second-color-rgb),0.3);
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--first-color); 
    /* È l'immagine del pallino bianco dentro il bottone radio */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E"); 
    border-radius: 50% !important;
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: var(--first-color);
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(var(--second-color-rgb), 0.25);
}

// show ad
.breadcrumb-section {
    padding: 2.5rem 0rem;
    text-align: center;
    background-position: center center;
    background-size: cover;
    height: 150px;
}



/*Annuncio per diventare revisore*/
.bg-money {
    background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2)), url('/media/euro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*FOOTER*/

footer {
    background-color: var(--third-color);
}

/*Icone social*/

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    background-color: var(--first-color);
    border-radius: 100%;
    font-size: 24px;
    margin-right: 24px;
}

.social-icons .social-icon .fas:hover, 
.social-icons .social-icon .fab:hover {
    color: var(--third-color) !important;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: var(--second-color) !important;
    color: var(--third-color) !important;
}


/*HOME*/
.box-search-home {
    width: auto;
    max-width: 600px;
    margin: auto;
    position: relative;
    background-color: transparent!important;
    .coin-search {
        left: -100px;
        z-index: 2;
    }
    .input-search {
        background-color: #1a1a1ad9!important;
        #text-input {
            border: 0!important;
            color: white;
        }
        #text-input::placeholder { 
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 0.8; /* Firefox */
        }
    }
    .form-control:valid {
        background-color: transparent!important;
    }
}

.heart {
    position: absolute;
    top: 70%;
    left: 90%;
    z-index: 9;
}

@media screen and (max-width:767px) {
    .heart {
        position: absolute;
        top: 85%;
        left: 75%;
        z-index: 9;
    }
}

/*Pagination*/
.page-link {
    color: var(--second-color);
}

.page-item.active .page-link {
    background-color: var(--first-color);
    border-color: var(--first-color);
}