:root {
    --first-color: #f9a840;
    --second-color: #fb6721;
    --third-color: #f8f8f8;  /*Ancora da decidere*/
    --first-color-rgb: 249, 168, 64;
    --second-color-rgb: 251, 103, 33;
    /*--third-color-rgb:;  Ancora da decidere*/
    --shadow: 42,47,54,.3;
}

.bg-first {
    background-color: var(--first-color) !important;
}

.bg-second {
    background-color: var(--second-color) !important;
}

.bg-third{
    background-color: var(--third-color) !important;
}

.text-first {
    color: var(--first-color) !important;
}

.text-second {
    color: var(--second-color) !important;
}

.text-third {
    color: var(--third-color) !important;
}

.w-fit {
    width: fit-content!important;
}

/*NAVBAR*/
.btn-custom {
    background: linear-gradient(to right,var(--first-color),#ff965d);
    border: none;
    font-weight: 600;
    display: inline-block;
    font-size: 15px;
    padding: 10px 25px !important;
    transition: .3s;
    -webkit-transition: .3s;
}

.btn-custom:hover {
    box-shadow: 0 0 10px #f6944a;
}


.btn-newAd {
    color: var(--first-color) !important;
    font-weight: bold;
    padding: 12px 20px 12px 20px;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid var(--first-color);
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-newAd:hover {
    color: var(--third-color) !important;
    background: var(--second-color);
    border: 2px solid var(--second-color);
}


/*HEADER*/
header {
    background: url('/media/header.png');
    height: 100vh;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}

.form-searchBorder {
    border: 2px solid var(--second-color);
}

.form-control:focus,
.custom-select:focus {
    border-color: var(--first-color);
    box-shadow: 0 0 0 0.2rem var(--first-color);
}

.btn-searchColor {
    color: var(--second-color);
}

.container-home {
    background: var(--third-color);
    margin-top: -10%;
    margin-right: 20%;
    margin-left: 20%;
    padding: 23px 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 -12px 10px 0 rgba(var(--shadow));
}


/*CARD*/
.card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-header {
    background: linear-gradient(to right, rgba(var(--first-color-rgb),0.3), rgba(var(--second-color-rgb),0.3));
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.form-control{
    border: 1px solid rgba(var(--first-color-rgb),0.7) !important;
}

.form-control:valid {
    background-color:rgba(var(--second-color-rgb),0.2) !important;
}

/*Colore background quando si autofilla il campo*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(var(--first-color-rgb),0.4) inset !important;
}

input, textarea{
    background-color:rgba(var(--second-color-rgb),0.1) !important;
}

/*Check radio*/
.custom-control-label::before {
    background-color: rgba(var(--second-color-rgb),0.3);
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--first-color); 
    /* È l'immagine del pallino bianco dentro il bottone radio */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E"); 
    border-radius: 50% !important;
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: var(--first-color);
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(var(--second-color-rgb), 0.25);
}

// show ad
.breadcrumb-section {
    padding: 2.5rem 0rem;
    text-align: center;
    background-position: center center;
    background-size: cover;
    height: 150px;
}